@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  min-width: 100vw;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

@layer utilities {
  .animation-delay-200 {
    animation-delay: 0.2s;
  }
  .animation-delay-400 {
    animation-delay: 0.4s;
  }
  .animation-delay-600 {
    animation-delay: 0.4s;
  }
}
